node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# snark/circom generated artifacts
proof_*.json
*.wtns
*.sym
*.r1cs
*.zkey
*.ptau

# temporary/debug files
*.log
